<component name="ArtifactManager">
  <artifact type="war" name="spring-boot-restful-web-service:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="ws_cities_1.0.war">
      <element id="artifact" artifact-name="spring-boot-restful-web-service:war exploded" />
    </root>
  </artifact>
</component>